.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-wrap: wrap;
}

.form-picker {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.form-container {
  width: 100%;
}

.form-content {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  margin: 5px;
}

label {
  margin: 5px 0px;
}

.submit-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  height: 5vh;
  width: 10vw;
}

/* input, select {
  margin-right: 10px;
} */